.column {
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.videosContainer {
    padding: 20px;
    box-sizing: border-box;
}

.videosContainer a {
    text-align: center;
    text-decoration: none;
    color: rgb(0, 155, 255);
}

.videosContainer a:hover {
    color: rgb(0, 215, 255);
}

.videosContainer p {
    font-size: 18px;
}

.videosContainer img {
    max-height: 150px;
    display: block;
    margin: auto;
}

.textContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.centerContainer {
    text-align: center;
}

.warning {
    background-color: rgb(255, 255, 0);
}

.error {
    background-color: rgb(255, 0, 0);
}

.success {
    background-color: rgb(0, 255, 0);
}

.endContainer {
    text-align: end;
}

.mainHeading {
    font-size: 24px;
}

.description {
    font-size: 16px;
}

.form {
    max-width: 400px;
    margin: auto;
}